*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  background-color: rgb(240, 240, 240);
  padding: 1rem;
}

.todo-box {
  max-width: 70rem;
  background-color: white;
  margin: auto;
  margin-top: 10%;
  border-radius: 1rem;
  overflow: hidden;
}

.header-holder {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.header {
  font-size: 3rem;
  text-align: center;
}

.form {
  width: 100%;
}

.input-holder {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  border-bottom: 1px solid lightblue;
  transition: all 0.3s ease;
}

.bg-active {
  background-color: rgb(215, 249, 250);
}

.input {
  font-size: 2rem;
  border: none;
  outline: none;
  width: 100%;
}

.checkbox {
  font-size: 2rem;
  padding: 1rem 1.2rem;
  color: rgb(142, 186, 201);
  transition: all 0.3s ease;
  cursor: pointer;
  align-self: center;
  border-radius: 50%;
}

.checkbox:hover {
  background-color: rgba(238, 216, 144, 0.295);
}

.icon {
  font-size: 2rem;
  padding: 1rem 1.2rem;
  color: rgb(172, 73, 73);
  transition: all 0.3s ease;
  cursor: pointer;
  align-self: flex-start;
  display: none;
}

.enterIcon {
  font-size: 2rem;
  padding: 1rem 1.2rem;
  color: rgb(111, 172, 192);
  transition: all 0.3s ease;
  cursor: pointer;
}

.enterIcon:hover {
  color: black;
}

.visible {
  display: block;
}

.edit {
  font-size: 2rem;
  padding: 1rem 1.8rem;
  color: rgb(101, 167, 189);
  transition: all 0.3s ease;
  cursor: pointer;
  align-self: flex-start;
  border-radius: 50%;
}

.edit:hover {
  color: black;
}

.hide {
  display: none;
}


@keyframes refresh {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.header-icon:hover {
  background-color: rgba(0, 255, 255, 0.26);
  animation: refresh 0.7s 1;
}

.rotate {
  transform: rotate(90deg);
}

.icon:hover {
  color: black;
  background-color: rgba(238, 216, 144, 0.295);
  border-radius: 50%;
}

.item {
  font-size: 2rem;
}

.task {
  font-size: 2.3rem;
  width: 100%;
  align-self: center;
}

.taskTitle {
  background-color: transparent;
  border: none;
  outline: none;
}

.focused {
  color: rgb(0, 102, 255);
}

.done {
  color: rgb(161, 161, 161);
  text-decoration: line-through;
}

.trash {
  align-self: center;
}

.trash:hover {
  color: red;
}

.fa-check {
  color: lightgreen;
}

.footer {
  /* background-image: linear-gradient(0deg, orange, 10%, rgb(146, 206, 255)); */
 
  padding: 3rem 0;
  display: flex;
  justify-content: center;
}

.delete {
  cursor: pointer;
  font-size: 1.8rem;
  color: rgb(201, 131, 1);
  transition: all 0.2s ease;
}

.delete:hover {
  color: red;
}
